# Ignore everything in the examples/output directory
examples/output/*

# Except the directory itself
!examples/output/

# Ignore all .fits files in the galfrb subdirectory
src/galfrb/data/*.fits

.DS_Store

__pycache__/
*.pyc

src/galfrb/__pycache__/*

examples/*.html  

examples/*.pdf

examples/visualize_CDFs.ipynb  

examples/load_stellar_mass_dists.ipynb

examples/construct_p-mr_z.ipynb   

examples/construct_cdf_mass_chi.ipynb

examples/construct_cdf_mass_chi_general_rmag_cut.ipynb 
